extends layout

block content
	h3 Vendor Analytics
	hr
	div#my_chart(style="width: 1000px; height: 1000px;")

block inPageScript
	script(src="https://www.google.com/jsapi")
	script.
		google.load("visualization", "1", {packages:["corechart"]});
		   //google.setOnLoadCallback(drawChart);
		   function drawChart(input_data) {
		    // Create and populate the data table.
		    var data = google.visualization.arrayToDataTable(input_data);		      
			
		    var options = {
		      title: 'Vendor vs Number of Products'
		    };
		     // Create and draw the visualization.
			var chart = new google.visualization.BarChart(
				document.getElementById('my_chart'))
				google.visualization.events.addListener(chart, 'select', function () {
				var selection = chart.getSelection();
				var row = selection[0].row;
				
				//alert(data.getValue(row, 0));
				window.open("/vendors/all/"+data.getValue(row, 0),"_blank");
			});
			chart.draw(data, options);
		  }

		$(document).ready(function(){
			$.get("/vendors/stats", function(data){
				drawChart(data);
				//InitChart(data,"visualisation");
			});
		});
	